@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@300&display=swap');
* {
    margin: 0; padding: 0;
    box-sizing: border-box;
}
body {
    background: linear-gradient(180deg, #fff, #32324e);
    height: 100vh;
    font-family: 'Gemunu Libre', sans-serif
}
.container {
    width: 95%;
    margin: auto;
    cursor: pointer;
    font-size: 4rem;
}
.show-timer {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}